<app-displayApp 
[timeLeft]="timeLeft" 
[ppm]='ppm' 
[LineChart]="LineChart" 
[category]="category"
[name]="name"
></app-displayApp>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10 mt-1 border rounded-top"  style="background-color: #fffdea;">
  
      <div *ngIf="textoMaior()">
          <span style="font-size: 3.6vw;" *ngFor="let letra of fraseExibicao">
              <span *ngIf="letra.proximo === undefined" class="keyDefault">{{letra.letra}}</span>
              <span *ngIf="letra.proximo === false && letra.acertou === false" class="errou">{{letra.letra}}</span>
              <span *ngIf="letra.proximo === false && (letra.acertou === undefined || letra.acertou === true)" class="acertou">{{letra.letra}}</span>
              <span *ngIf="letra.proximo === true && !letra.acertou" class="proximo">{{letra.letra}}</span>
          </span>
      </div>
      <div *ngIf="!textoMaior()">
          <span style="font-size: 2.7vw;" *ngFor="let letra of fraseExibicao">
            <span *ngIf="letra.proximo === undefined" class="keyDefault">{{letra.letra}}</span>
              <span *ngIf="letra.proximo === false && letra.acertou === false" class="errou">{{letra.letra}}</span>
              <span *ngIf="letra.proximo === false && (letra.acertou === undefined || letra.acertou === true)" class="acertou">{{letra.letra}}</span>
              <span *ngIf="letra.proximo === true && !letra.acertou" class="proximo">{{letra.letra}}</span>
          </span>
      </div>

    <div class="col-1"></div>
  </div>
  </div>

  <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="form-group">
          <textarea autofocus class="form-control" rows="2" #entradaTxt (input)="modificarTexto(entradaTxt.value)">{{entradaTxt.value}}</textarea>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-12">
          <app-keyboard
          class="d-flex justify-content-center" 
          [proximaTecla]="proximaTecla" 
          [teclaEmErro]="teclaEmErro"
          ></app-keyboard>
      </div>
    </div>