<div class="cont">
  <div class="menuNiveis">
      <app-left-menu></app-left-menu>
    </div>

<div class="lista">
  <mat-selection-list #shoes>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- horiz_list -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5510359594961626"
         data-ad-slot="7422410123"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    
    <div *ngFor="let lesson of lessons">
      <a [routerLink]="[linkApp, lesson.idLesson, level]">
       <mat-list-item>
         <div class="titulo"> 
          {{ 'Exercises.Advanced' | translate }}
             {{lesson.name}}
         </div> 
         <h3 *ngIf="lesson.ppm" class="init">{{lesson.text.substring(0, 100)}} </h3>
         <h3 *ngIf="!lesson.ppm" class="notInit">{{lesson.text.substring(0, 100)}} </h3>
         <mat-card *ngIf="lesson.ppm" [ngClass]="{'ok-card': lesson.stars > 3, 'bad-card': lesson.stars <= 3}">
           <app-card-result [lesson]="lesson"></app-card-result>
         </mat-card>
       </mat-list-item>
      </a>
       <mat-divider></mat-divider>
     </div>
    
</mat-selection-list>
</div>

<div class="seo">
  <app-seo-list></app-seo-list>
</div>
</div>