<mat-list role="list">
    <mat-list-item role="listitem">country: {{trackingDetails.country}}</mat-list-item>
    <mat-list-item role="listitem">regionName: {{trackingDetails.regionName}}</mat-list-item>
    <mat-list-item role="listitem">city: {{trackingDetails.city}}</mat-list-item>
    <mat-list-item role="listitem">zip: {{trackingDetails.zip}}</mat-list-item>
    <mat-list-item role="listitem">lat: {{trackingDetails.lat}}</mat-list-item>
    <mat-list-item role="listitem">lon: {{trackingDetails.lon}}</mat-list-item>
    <mat-list-item role="listitem">isp: {{trackingDetails.isp}}</mat-list-item>
    <mat-list-item role="listitem">org: {{trackingDetails.org}}</mat-list-item>
    <mat-list-item role="listitem">as: {{trackingDetails.as}}</mat-list-item>
    <mat-list-item role="listitem">mobile: {{trackingDetails.mobile}}</mat-list-item>
  </mat-list>