<mat-card  color="primary">
  <mat-card-header color="primary">
    <mat-card-title>Lições</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p style="margin-top: 20px;">
      O Teste de digitação online gratuito fornece ao estudande "digitador", a possibilidade de aprender a digitar com mais velocidade, com os 10 dedos de maneira uniforme
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
  </mat-card-actions>
</mat-card>