<mat-card color="primary">
  <mat-card-header color="primary">
    <mat-card-title>{{ 'Seo.Title' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p style="margin-top: 20px;">
      {{ 'Seo.Text' | translate }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="fb-like" data-href="https://www.facebook.com/Touch_OnlineCom-103634087905460" data-layout="standard"
      data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="showPub" class="mt-4">
  <!-- <p>{{'Seo.HelpFreeMantenance' | translate}}</p>

 
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=marcos.ti.sistemas%40gmail.com&currency_code={{'Seo.CurrencyType' | translate}}&source=url">
<img src="{{'Seo.InputImageDonate' | translate}}" alt="{{ 'Seo.AltButtonDonate' | translate }}">
</a> -->

<div *ngIf="!isAdmin">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- res-list-right -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5510359594961626"
       data-ad-slot="4274929654"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<img *ngIf="isAdmin" src="./../../../../../assets/images-pub-debug/pubQuadrado.PNG" style="width: 100%;" />
 
</mat-card>


<br>
<button mat-raised-button routerLink="/{{lang}}/auth/send-message">
  <i class="material-icons">message</i> {{ 'Seo.DeveloperMessage' | translate }}
</button>

