<mat-card color="primary">
  <mat-card-header color="primary">
    <mat-card-title>{{ 'Seo.Title' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p style="margin-top: 20px;">
      {{ 'Seo.Text' | translate }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="fb-like" data-href="https://www.facebook.com/Touch_OnlineCom-103634087905460" data-layout="standard"
      data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
  </mat-card-actions>
</mat-card>
<br>
<button mat-raised-button routerLink="/{{lang}}/auth/send-message">
  <i class="material-icons">message</i> {{ 'Seo.DeveloperMessage' | translate }}
</button>

