<div class="hand">
    <img class="finger" src="C:\projects\TouchOnline\src\TouchOnline.Api\ClientApp\src\app\pages\application\application\keyboard\right-hand\fingers\d1.png" alt="">
    <img class="finger" src="C:\projects\TouchOnline\src\TouchOnline.Api\ClientApp\src\app\pages\application\application\keyboard\right-hand\fingers\d2.png" alt="">
    <img class="finger" src="C:\projects\TouchOnline\src\TouchOnline.Api\ClientApp\src\app\pages\application\application\keyboard\right-hand\fingers\d3.png" alt="">
    <img class="finger" src="C:\projects\TouchOnline\src\TouchOnline.Api\ClientApp\src\app\pages\application\application\keyboard\right-hand\fingers\d4.png" alt="">
    <img class="finger" src="C:\projects\TouchOnline\src\TouchOnline.Api\ClientApp\src\app\pages\application\application\keyboard\right-hand\fingers\d5.png" alt="">
    <img class="finger" src="C:\projects\TouchOnline\src\TouchOnline.Api\ClientApp\src\app\pages\application\application\keyboard\right-hand\fingers\mD.png.png" alt="">
</div>