
<h2>Enviar mensagem ao desenvolvedor</h2>
<p>Sugestões, reclamações, dúvidas ...</p>

<mat-card>  
  <form [formGroup]="messageForm" (submit)="sendMessage()" class="example-container">
        <mat-form-field>
            <input matInput formControlName="name" placeholder="Nome">
            <mat-error>Campo obrigatório</mat-error>
          </mat-form-field>
          <mat-form-field>
              <input matInput formControlName="email" placeholder="Email">
              <mat-error>Email Inválido</mat-error>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput formControlName="text" rows="8" placeholder="Texto"></textarea>
            <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>
    <button [disabled]="messageForm.invalid" type="submit" mat-raised-button color="primary">Enviar</button>
  </form>
</mat-card>
