<h2>{{ 'Register.RegisterUser' | translate }}</h2>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- top_page_horiz -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5510359594961626"
     data-ad-slot="9550596623"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<mat-card>
  <form [formGroup]="registerForm" (submit)="register()" class="example-container">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="{{ 'Register.Name' | translate }}" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="email" placeholder="{{ 'Register.Email' | translate }}" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="password" type="password" placeholder="{{ 'Register.Password' | translate }}" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="confirmPassword" type="password" placeholder="{{ 'Register.ConfirmPassword' | translate }}" required>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">{{ 'Register.Register' | translate }}</button>
  </form>

  <br>
  <button class="send-message" mat-raised-button [routerLink]="['/auth/send-message']">
    <i class="material-icons">message</i> {{ 'Register.SendMessageToDeveloper' | translate }}
  </button>
</mat-card>