
<div>
    <div>
      <img src="./../../../assets/bg_home.png" alt="mastertouchtyping_bg/" style="width:100%" />
    </div>
    <div class="">
      <div class="container text-center">
          <span class="button-container text-left">
              <!-- <button data-appear-animation="fadeInLeft" 
                  data-track-link="true" 
                 data-track-cta="View" data-track-type="how_it_works" data-track-id="21333" 
                 class="btn btn-lg btn-primary btn-min-width btnInicie" (click)="registerToggle()">
                      Iniciar agora mesmo!
              </button> -->
              <button mat-raised-button color="primary" class="btnInicie" [routerLink]="['/lessons/beginner']" >{{ 'Home.IniciarAgoraMesmo' | translate }}</button>
          </span>
          <hr class="tall" />
          <h1>{{ 'Home.CursoDeDigitacaoOnLineGratis' | translate }}</h1>
      </div>
          <hr class="tall" />
        
          <section class="featured">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" data-appear-animation="fadeInRight">
                            <div class="col-md-4">
                                    <div class="feature-box secundary">
                                        <a href="" class="feature-box-icon">
                                            
                                            <i class="material-icons">flag</i>
                                        </a>
                                        <div class="feature-box-info">
                                            <a href="" class="alternative-font">{{ 'Home.BeginnerTextIntro' | translate }}</a>
                                            <p class="tall">{{ 'Home.InitialSupportForAnyoneWhoIsNot' | translate }}</p>
                                        </div>
                                    </div>
                               
                                <div class="feature-box secundary">
                                    <a href="" class="feature-box-icon">
                                        <i class="material-icons">move_to_inbox</i>
                                    </a>
                                    <div class="feature-box-info">
                                        <a href="" class="alternative-font">{{ 'Home.BasicTextIntro' | translate }}</a>
                                        <p class="tall">{{ 'Home.TheLessonsInThisCategoryHaveLooseWords' | translate }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-box secundary">
                                    <a href="" class="feature-box-icon">
                                        <i class="material-icons">hourglass_full</i>
                                    </a>
                                    <div class="feature-box-info">
                                        <a href="" class="alternative-font">{{ 'Home.IntermediateTextIntro' | translate }}</a>
                                        <p class="tall">{{ 'Home.TheLessonsInThisCategoryRelyOnSmall' | translate }}</p>
                                    </div>
                                </div>
                                <div class="feature-box secundary">
                                    <a href="@DigiteMais.Comum.Lingua.Texto.LkAvancadoLista" class="feature-box-icon">
                                        <i class="material-icons">insert_chart</i>
                                    </a>
                                    <div class="feature-box-info">
                                        <a href="@DigiteMais.Comum.Lingua.Texto.LkAvancadoLista" class="alternative-font">{{ 'Home.AdvancedTextIntro' | translate }}</a>
                                        <p class="tall">{{ 'Home.ThisCategoryConsistsOfLongerAndMoreComplexTexts' | translate }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-box secundary">
                                    <a href="@DigiteMais.Comum.Lingua.Texto.LkReforcoLista" class="feature-box-icon">
                                        <i class="material-icons">cached</i>
                                    </a>
                                    <div class="feature-box-info">
                                        <a href="#" class="alternative-font">{{ 'Home.Intensification' | translate }}</a>
                                        <p class="tall">{{ 'Home.TheLessonsInThisCategoryAreDynamically' | translate }}</p>
                                    </div>
                                </div>
                                <div class="feature-box secundary">
                                    <a href="#" class="feature-box-icon">
                                        <i class="material-icons">text_format</i>
                                    </a>
                                    <div class="feature-box-info">
                                        <a href="@DigiteMais.Comum.Lingua.Texto.lkCriarLicaoMeuProprioTexto" class="alternative-font">{{ 'Home.MyTextsTextIntro' | translate }}</a>
                                        <p class="tall">{{ 'Home.TheTypistCanEnterHisOwnTexts' | translate }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
      <div class="container text-center">
          <hr class="tall" />
          <div class="row push-top">
              <a href="@DigiteMais.Comum.Lingua.Texto.LkInicianteLista" class="col-md-5 push-top" data-appear-animation="fadeInLeft">
                  <i class="material-icons  imgTxt1">keyboard</i>
              </a>
              <div class="col-md-7 col-md-offset-1" data-appear-animation="fadeInRight">
                  <div id="textoHome1">
                      <h2 class="push-top"><strong>{{ 'Home.Typing' | translate }}</strong> {{ 'Home.WithTechniqueUsingThe10Fingers' | translate }}</h2>
                      <p class="lead">
                        {{ 'Home.TheFreeOnlineTypingCourseHasAnEvolutionaryMethodThatGives' | translate }}
                      </p>
                      <p>
                        {{ 'Home.AsMuchAsTheUserAlreadyHasAQuickTyping' | translate }}
                      </p>
                  </div>
              </div>
          </div>
          <hr class="tall" />
          <div class="row">
              <div class="col-md-7" data-appear-animation="fadeInLeft">
                  <div id="textoHome2">
                      <h2 class="push-top">{{ 'Home.StudyWithYour' | translate }} <strong>{{ 'Home.OwnTexts' | translate }}!</strong></h2>
                      <p class="lead">
                        {{ 'Home.CreateLessonsUsingYourOwnTexts' | translate }}!
                      </p>
                      <p>
                        {{ 'Home.VeryPracticalWhenYouNeedToStudySomeTextToInform' | translate }}
                      </p>
                  </div>
              </div>
              <a href="#" class="col-md-5 col-md-offset-1 push-top" data-appear-animation="fadeInRight">
                  <i class="material-icons imgTxt2">wrap_text</i>
              </a>
          </div>
    
          <hr class="tall" />
          <div class="row push-top">
              <div class="col-md-6 col-md-offset-1 push-top" data-appear-animation="fadeInLeft">
                  <i class="material-icons imgTxt3">bar_chart</i>
              </div>
              <div class="col-md-6" data-appear-animation="fadeInRight">
                  <div id="textoHome3">
                      <h2 class="push-top"><strong>{{ 'Home.RealTimeMeters' | translate }}</strong></h2>
                      <p class="lead">
                        {{ 'Home.InstantMetersBringResultsToTheMomentTheyAreEntered' | translate }}
                      </p>
                      <p>
                        {{ 'Home.TheResultsAreBasedOnSeveralCriteriaThatVerifies' | translate }}
                      </p>
                  </div>
              </div>
          </div>
          <hr class="tall" />
          <div class="row">
              <div class="col-md-7" data-appear-animation="fadeInLeft">
                  <div id="textoHome4">
                      <h2 class="push-top">{{ 'Home.Typewithlessons' | translate }} <strong>{{ 'Home.InEnglish' | translate }}</strong></h2>
                      <p class="lead">
                        {{ 'Home.WhenChangingTheLanguageOfTheSystem' | translate }}
                      </p>
                      <p>
                        {{ 'Home.TheKeyboardInitiallySelectedCanBeModified' | translate }}
                      </p>
                  </div>
              </div>
              <div class="col-md-5 col-md-offset-1 push-top" data-appear-animation="fadeInRight">
                  <i class="material-icons imgTxt4">language</i>
              </div>
          </div>
          <hr class="tall" />
          <span class="button-container text-left">
              <a [routerLink]="['/lessons/beginner']"  data-appear-animation="fadeInLeft" data-track-link="true" data-track-cta="View" data-track-type="how_it_works" data-track-id="21333" class="btn btn-lg btn-primary btn-min-width btnInicie2">
                {{ 'Home.IniciarAgoraMesmo' | translate }}
              </a>

              
          </span>

          
      </div>
      <hr class="tall" />
      <button class="send-message" mat-raised-button [routerLink]="['/auth/send-message']">
        <i class="material-icons">message</i> {{ 'SendMessage.SendMessageToDeveloper' | translate }}
      </button>
      <hr class="tall" />
      </div>
  </div>