
<div>
    <div>
      <img src="./../../../assets/bg_home.png" alt="mastertouchtyping_bg/" style="width:100%" />
    </div>
    <div class="">
      <div class="container text-center">
          <span class="button-container text-left">
              <!-- <button data-appear-animation="fadeInLeft" 
                  data-track-link="true" 
                 data-track-cta="View" data-track-type="how_it_works" data-track-id="21333" 
                 class="btn btn-lg btn-primary btn-min-width btnInicie" (click)="registerToggle()">
                      Iniciar agora mesmo!
              </button> -->
              <button mat-raised-button color="primary" class="btnInicie" [routerLink]="['/lessons/beginner']" >Iniciar agora mesmo!</button>
          </span>
          <hr class="tall" />
          <h1>Curso de digitação on-line grátis</h1>
      </div>
          <hr class="tall" />
        
          <section class="featured">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" data-appear-animation="fadeInRight">
                            <div class="col-md-4">
                                    <div class="feature-box secundary">
                                        <a href="@DigiteMais.Comum.Lingua.Texto.LkInicianteLista" class="feature-box-icon">
                                            
                                            <i class="material-icons">flag</i>
                                        </a>
                                        <div class="feature-box-info">
                                            <a href="@DigiteMais.Comum.Lingua.Texto.LkInicianteLista" class="alternative-font">Iniciante</a>
                                            <p class="tall">Suporte inicial para quem não tem nenhuma familiaridade com a digitação. É importantíssimo que o digitador iniciante use corretamente os dedos como sugere o programa, isso evitará vícios futuros.</p>
                                        </div>
                                    </div>
                               
                                <div class="feature-box secundary">
                                    <a href="@DigiteMais.Comum.Lingua.Texto.LkBasicoLista" class="feature-box-icon">
                                        <i class="material-icons">move_to_inbox</i>
                                    </a>
                                    <div class="feature-box-info">
                                        <a href="@DigiteMais.Comum.Lingua.Texto.LkBasicoLista" class="alternative-font">Básico</a>
                                        <p class="tall">As lições dessa categoria conta com palávras soltas constituidas de letras de fácil acesso ao usuário com menos intimidade com o teclado e a disposição das teclas.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-box secundary">
                                    <a href="@DigiteMais.Comum.Lingua.Texto.LkIntermediarioLista" class="feature-box-icon">
                                        <i class="material-icons">hourglass_full</i>
                                    </a>
                                    <div class="feature-box-info">
                                        <a href="@DigiteMais.Comum.Lingua.Texto.LkIntermediarioLista" class="alternative-font">Intermediário</a>
                                        <p class="tall">As lições dessa categoria contam com frases pequenas que contribuem para a independência ao digitar, aqui sua digitação se torna mais natural e as frases começam a se formar com maior agilidade e facilidade o digitar.</p>
                                    </div>
                                </div>
                                <div class="feature-box secundary">
                                    <a href="@DigiteMais.Comum.Lingua.Texto.LkAvancadoLista" class="feature-box-icon">
                                        <i class="material-icons">insert_chart</i>
                                    </a>
                                    <div class="feature-box-info">
                                        <a href="@DigiteMais.Comum.Lingua.Texto.LkAvancadoLista" class="alternative-font">Avançado</a>
                                        <p class="tall">Essa categoria é constituída de textos mais longos e complexos. Aqui o digitador conseguirá digitar textos com rapidez e precisão. Apto a se submeter a qualquer desafio.s</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-box secundary">
                                    <a href="@DigiteMais.Comum.Lingua.Texto.LkReforcoLista" class="feature-box-icon">
                                        <i class="material-icons">cached</i>
                                    </a>
                                    <div class="feature-box-info">
                                        <a href="@DigiteMais.Comum.Lingua.Texto.LkReforcoLista" class="alternative-font">Reforço</a>
                                        <p class="tall">As lições dessa categoria são criados dinamicamente para trabalhar as fraquesas detectadas nas lições das categorias anteriores.</p>
                                    </div>
                                </div>
                                <div class="feature-box secundary">
                                    <a href="@DigiteMais.Comum.Lingua.Texto.lkCriarLicaoMeuProprioTexto" class="feature-box-icon">
                                        <i class="material-icons">text_format</i>
                                    </a>
                                    <div class="feature-box-info">
                                        <a href="@DigiteMais.Comum.Lingua.Texto.lkCriarLicaoMeuProprioTexto" class="alternative-font">Meus Textos</a>
                                        <p class="tall">O digitador pode inserir textos próprios para treinar com total liberdade, essas lições são avaliados com os mesmo critérios das categorias anteriores.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
      <div class="container text-center">
          <hr class="tall" />
          <div class="row push-top">
              <a href="@DigiteMais.Comum.Lingua.Texto.LkInicianteLista" class="col-md-5 push-top" data-appear-animation="fadeInLeft">
                  <i class="material-icons  imgTxt1">keyboard</i>
              </a>
              <div class="col-md-7 col-md-offset-1" data-appear-animation="fadeInRight">
                  <div id="textoHome1">
                      <h2 class="push-top"><strong>Digitação</strong> com técnica usando os 10 dedos</h2>
                      <p class="lead">
                        O Curso de digitação gratuito online dispõe de um método evolutivo que fornece ao usuário um experiência inédita quando se quer digitar da maneira correta.
                      </p>
                      <p>
                        Por mais que o usuário já tenha uma digitação rápida, é importante verificar se os dedos estão corretamente posicionados e a postura ao digitar lhe é confortável.
                      </p>
                  </div>
              </div>
          </div>
          <hr class="tall" />
          <div class="row">
              <div class="col-md-7" data-appear-animation="fadeInLeft">
                  <div id="textoHome2">
                      <h2 class="push-top">Digite com seus <strong>Próprios Textos!</strong></h2>
                      <p class="lead">
                        Crie lições utilizando seus próprios textos, mais facilidade com frases elaboradas pelo próprio usuário. Obtenha mais resultados com um assunto que seja do seu interesse!
                      </p>
                      <p>
                        Muito prático quando se precisa estudar algum texto para se informar, decorar ou estudar. Quando não se tem muito tempo a perder, essa técnica é muito interessante.
                      </p>
                  </div>
              </div>
              <a href="@DigiteMais.Comum.Lingua.Texto.lkCriarLicaoMeuProprioTexto" class="col-md-5 col-md-offset-1 push-top" data-appear-animation="fadeInRight">
                  <i class="material-icons imgTxt2">wrap_text</i>
              </a>
          </div>
    
          <hr class="tall" />
          <div class="row push-top">
              <div class="col-md-6 col-md-offset-1 push-top" data-appear-animation="fadeInLeft">
                  <i class="material-icons imgTxt3">bar_chart</i>
              </div>
              <div class="col-md-6" data-appear-animation="fadeInRight">
                  <div id="textoHome3">
                      <h2 class="push-top"><strong>Contadores de dígitos em tempo real</strong></h2>
                      <p class="lead">
                        Os medidores instantâneos trazem resultados ao momento que é digitado, trazendo ao usuário uma experiência única de desafio.
                      </p>
                      <p>
                        Os resultados são baseados em vários critérios que verifica a velocidade e precisão, para melhor performace é imprescindível que se utilize os dedos corretos para cada tecla.
                      </p>
                  </div>
              </div>
          </div>
          <hr class="tall" />
          <div class="row">
              <div class="col-md-7" data-appear-animation="fadeInLeft">
                  <div id="textoHome4">
                      <h2 class="push-top">Digite com lições <strong>Em Inglês</strong></h2>
                      <p class="lead">
                        Ao trocar a lingua do sistema toda a estrutura de exercícios é modificada automáticamente com textos elaborados na língua selecionada.
                      </p>
                      <p>
                        O teclado selecionado inicialmente pode ser modificado pelo digitador se estiver usando um modelo diferente de teclado, mesmo que a língua esconlhida não seja a mesma.
                      </p>
                  </div>
              </div>
              <div class="col-md-5 col-md-offset-1 push-top" data-appear-animation="fadeInRight">
                  <i class="material-icons imgTxt4">language</i>
              </div>
          </div>
          <hr class="tall" />
          <span class="button-container text-left">
              <a [routerLink]="['/lessons/beginner']"  data-appear-animation="fadeInLeft" data-track-link="true" data-track-cta="View" data-track-type="how_it_works" data-track-id="21333" class="btn btn-lg btn-primary btn-min-width btnInicie2">
                Iniciar agora mesmo!
              </a>

              
          </span>

          
      </div>
      <hr class="tall" />
      <button class="send-message" mat-raised-button [routerLink]="['/auth/send-message']">
        <i class="material-icons">message</i> Mensagem ao Desenvolvedor
      </button>
      <hr class="tall" />
      </div>
  </div>