<h2 class="title">Edit keyboard</h2>

<form [formGroup]="keyboardForm" (submit)="submitKeyboardForm()">
    <mat-form-field>
        <mat-label>Id</mat-label>
        <input disabled matInput placeholder="Id" formControlName="id">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Code Html</mat-label>
        <input matInput placeholder="Code" formControlName="code">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Language Code</mat-label>
        <input matInput placeholder="Language Code" formControlName="languageCode">
    </mat-form-field>
    <mat-slide-toggle formControlName="status" [checked]="true" [disabled]="false">
        Slide me!
    </mat-slide-toggle>
    <button type="submit">Save</button>
</form>