<div style="display: flex; justify-content: center; height: 260px;">
  <div class="mao-container leftHand">
   <div style="width: 230px">
    <img style="position: absolute;" src="../../../../../assets/Maos/e1.png" [ngStyle]="{'display':dedoE == 'e1' && keyCode ? 'block' : 'none'}" class="img-mao">
    <img style="position: absolute;" src="../../../../../assets/Maos/e2.png" [ngStyle]="{'display':dedoE == 'e2' && keyCode ? 'block' : 'none'}" class="img-mao">
    <img style="position: absolute;" src="../../../../../assets/Maos/e3.png" [ngStyle]="{'display':dedoE == 'e3' && keyCode ? 'block' : 'none'}" class="img-mao">
    <img style="position: absolute;" src="../../../../../assets/Maos/e4.png" [ngStyle]="{'display':dedoE == 'e4' && keyCode ? 'block' : 'none'}" class="img-mao">
    <img style="position: absolute;" src="../../../../../assets/Maos/e5.png" [ngStyle]="{'display':dedoE == 'e5' && keyCode ? 'block' : 'none'}" class="img-mao">
    <img style="position: absolute;" src="../../../../../assets/Maos/mE.png" class="img-mao">
   </div>
  </div>
  <div class="kb">
    <span *ngFor="let key of keys">
      <div id="{{key.id}}" [ngClass]="containsClassKey(key.id) ? key.key1 + ' ' + getClassKey(key.id) : key.key1">
        <div class="{{key.key2}}">{{ key.value }}</div>
        <div class="{{key.key3}}">{{ key.value2 }}</div>
      </div>
    </span>
  </div>
  
  <div class="mao-container rightHand">
    <div style="position: relative; width: 230px">
      <img style="position: absolute;" src="../../../../../assets/Maos/d1.png" [ngStyle]="{'display':dedoD == 'd1' && keyCode ? 'block' : 'none'}" class="img-mao">
      <img style="position: absolute;" src="../../../../../assets/Maos/d2.png" [ngStyle]="{'display':dedoD == 'd2' && keyCode ? 'block' : 'none'}" class="img-mao">
      <img style="position: absolute;" src="../../../../../assets/Maos/d3.png" [ngStyle]="{'display':dedoD == 'd3' && keyCode ? 'block' : 'none'}" class="img-mao">
      <img style="position: absolute;" src="../../../../../assets/Maos/d4.png" [ngStyle]="{'display':dedoD == 'd4' && keyCode ? 'block' : 'none'}" class="img-mao">
      <img style="position: absolute;" src="../../../../../assets/Maos/d5.png" [ngStyle]="{'display':dedoD == 'd5' && keyCode ? 'block' : 'none'}" class="img-mao">
      <img style="position: absolute;" src="../../../../../assets/Maos/mD.png" class="img-mao">
     </div>
  </div>
</div>

