<div class="containerMat">
  <div class="controls">
    <button type="button" routerLink="/{{lang}}/lessons/beginner" class="btn btn-block btn-outline-secondary"><i
        class="fa fa-list"></i>{{ 'Exercises.Beginner' | translate }}</button>
    <button type="button" routerLink="/{{lang}}/lessons/basic" class="btn btn-block btn-outline-secondary"><i
        class="fa fa-user"></i>{{ 'Exercises.Basic' | translate }}</button>
    <button type="button" routerLink="/{{lang}}/lessons/intermediate" class="btn btn-block btn-outline-secondary"><i
        class="fa fa-user"></i>{{ 'Exercises.Intermediate' | translate }}</button>
    <button type="button" routerLink="/{{lang}}/lessons/advanced" class="btn btn-block btn-outline-secondary"><i
        class="fa fa-user"></i>{{ 'Exercises.Advanced' | translate }}</button>
  </div>

  <div class="level">
    <h4 class="d-flex justify-content-center">{{'Exercises.' + category | translate}} {{name}}</h4>
    <mat-form-field class="center keyboard" >
      <mat-label>{{ 'App.Keyboard' | translate }}</mat-label>
      <mat-select (selectionChange)="selectKeyboard($event.value)" [(value)]="selected">
        <mat-option *ngFor="let keyboard of keyboardsDw" [value]="keyboard.id">
          {{keyboard.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="grafics">
    <div>
      <div *ngIf="LineChart" style="height: 120px;">
        <canvas id="lineChart" width="500" height="110"></canvas>
      </div>
      
      <div *ngIf="!LineChart" style="height: 120px;">
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- horiz_pub_general -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-5510359594961626"
               data-ad-slot="4821958013"
               data-ad-format="auto"
               data-full-width-responsive="true"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
      </div>
    </div>
  </div>

  <div class="tempo">
    <div style="max-width: 100%;">
      <div class="d-flex justify-content-center"> <span class="timerLabel">{{ 'App.Tempo' | translate }}</span></div>
      <span class="d-flex justify-content-center timer">
        <div style="margin-top: -10px;">{{timeLeft | timerFormat}}</div>
      </span>
    </div>
  </div>

  <div class="wpm">
    <div>
      <div class="d-flex justify-content-center"><span class="ppmLabel">{{ 'App.Wpm' | translate }}</span></div>
      <span class="d-flex justify-content-center ppm"><span style="margin-top: -10px;">{{ppm}}</span></span>
    </div>
  </div>
</div>
